<div class="card">
  <div class="card-header sticky-top">

    <h3>
      Liste des départements
      ({{ (numberOfFilteredItems$ | async) }}<span *ngIf="(filterQuery$ | async) as filter"> {{ filter }}</span>)
    </h3>
    <ngbrx-paginator
      [key]="key"
    ></ngbrx-paginator>
  </div>
  <div class="card-body">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let item of pageItems$ | async">
          {{ item.code }} {{ item.nom }}
          <span class="right">région {{ item.region }}</span>
        </div>
      </div>
  </div>
</div>
