<div class="card">
  <div class="card-header sticky-top">
    <h3>
      Liste des communes
      <div class="right">
        <small
          ><small
            ><ngbrx-paginator-filter-desc
              [key]="key"
            ></ngbrx-paginator-filter-desc></small
        ></small>
      </div>
    </h3>
    <ngbrx-paginator
      [key]="key"
    ></ngbrx-paginator>
  </div>
  <div class="card-body">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let item of pageItems$ | async">
          {{ item.code }} {{ item.nom }}
        </div>
      </div>
  </div>
</div>
