<div class="card">
    <div class="card-header">
        <h1>ngbrx-paginator demo</h1>
    </div>
    <div class="card-body">
        <p>Go to the "Départements" page and play with the pagination  (page size, page number, selection filter).
            Go to the "Communes" page, and do the same.
            Go back to the "Départements" page. All your settings have been saved.
        </p>
        <ul>
            <li>More on <a href="https://github.com/collorg/ngbrx-paginator">https://github.com/collorg/ngbrx-paginator</a></li>
            <li>The source code of this Angular project: <a href="https://github.com/collorg/ngbrx-paginator-demo">https://github.com/collorg/ngbrx-paginator-demo</a></li>
        </ul>
        <div>ngbrx-paginator@0.1.3</div>
    </div>
</div>
