<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>
        ngbrx-paginator demo
        <span class="right small" badge badge-pill>@{{ release }}</span>
      </h1>
    </div>
    <div class="card">
      <div class="card-body notice">
        Go to the <a routerLink="departements">Départements</a> page and play
        with the pagination (page size, page number, filters). Go to the
        <a btn btn-light routerLink="communes">Communes</a> page and do the
        same. Go back to the <a routerLink="departements">Départements</a> page.
        Reload the application...
        All your settings (page size, page number, filters) are still here.
      </div>
    </div>
  </div>
  <div class="card-body">
    <h2>How to add pagination (with filters) to your collections in @ngrx</h2>

    We assume that you have a <code>data.module.ts</code> in which you have a
    slice of your state and a <code>data-list.component</code> which presents
    the collection unpaginated.

    <h3>data.module.ts</h3>

    Add the <code>NgbrxPaginatorModule.forFeature</code> function in the imports
    array of your NgModule with an object containing the paginators:

    <div [innerHTML]="moduleAfter | language : 'typescript' | markdown"></div>

    Each paginator is an object identified by a unique name in the application
    with the following properties:
    <ul>
      <li>
        <code>allDataSelector</code>: the ngrx selector that returns the
        observable of you data set;
      </li>
      <li>
        <code>filters?</code>: (optional) an object of type {{ "{" }} [key:
        string]: {{ "{" }} filter, values? {{ "}" }} {{ "}" }}. Each filter is
        identified by a key which will be used as a placeholder for the input or
        the default value for the select. To each key is associated an object
        with the following properties:
        <ul>
          <li>
            <code>filter</code>: a filter function that takes two parameters
            <code>(items: Data[], query: string)</code> and returns
            <code>Data[]</code>;
          </li>
          <li>
            <code>values</code>: (optional) a MemoizedSelector. The values
            provided are then presented in an HTML select element.
          </li>
        </ul>
      </li>
      <li>
        <code>pageSizeOptions?</code>: (optional) defaults to [5, 10, 25, 100].
      </li>
    </ul>

    <h3>data-list.component.ts</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>before</h4>
        <div
          [innerHTML]="
            componentClassBefore | language : 'typescript' | markdown
          "
        ></div>
        The observable of the collection <code>collection$</code> is initialised
        with the selector <code>fromData.selectAll</code>. Notice that this is
        the selector provided to the paginator's
        <code>allDataSelector</code> property in
        <code>NgbrxPaginatorModule.forFeature</code>.
      </div>
      <div class="col-md-6">
        <h4>after</h4>
        <div
          [innerHTML]="componentClassAfter | language : 'typescript' | markdown"
        ></div>
        Inject <code>NgbrxPaginatorService</code> in your component. Set the
        <code>key</code> that identifies the paginator and initialise
        <code>collection$</code> with
        <code>NgbrxPaginatorService.getPageItems$</code> as shown in the sample.
      </div>
    </div>
    <div class="row">
      <h3>data-list.component.html</h3>
      <div class="col-md-6">
        <h4>before</h4>
        <div [innerHTML]="templateBefore | language : 'html' | markdown"></div>
      </div>
      <div class="col-md-6">
        <h4>after</h4>
        <div [innerHTML]="templateAfter | language : 'html' | markdown"></div>
        Simply add the template selector <code>ngbrx-paginator</code> with the
        <code>key</code> as input. You now have a paginated list with filters.
        <br />
        If you have provided filters to your paginator, you may want to use
        <code>ngbrx-paginator-filters-desc</code> with the <code>key</code> as
        input to show the active filter to the user.
      </div>
    </div>
  </div>
  <ul>
    <li>
      More on
      <a href="https://github.com/collorg/ngbrx-paginator"
        >https://github.com/collorg/ngbrx-paginator</a
      >
    </li>
    <li>
      The source code of this Angular project:
      <a href="https://github.com/collorg/ngbrx-paginator-demo"
        >https://github.com/collorg/ngbrx-paginator-demo</a
      >
    </li>
  </ul>
</div>
